doctype html
html
	head
		title Nightlife
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro")
		link(rel="stylesheet" href="../css/login.css")
	body
		include ../partials/_navbar

		#gradient-background
			form(action="/users/login", method="POST")
				include ../partials/_messages
				
				.form-group
					label(for="username") Username
					input(type="text" name="username" required)
				.form-group
					label(for="password") Password
					input(type="password" name="password" required)
					
				input(type="submit", value="Login")